.container{
    width:100%;
    border:none;
    opacity:1;
}
.model{
    max-width: 33%;
    width:100%;
    position: absolute;
    top:150px;
    left:440px;
    padding:22px;
    border-radius:10px;
    border:1px solid lightgray;
    background-color: rgb(255, 255, 255);
}
#exit{
 position:absolute;   
 margin-top:-18px;
 margin-left:-15px;
 padding:1px 4px;
 border-radius:20px;
 font-size:14px;
 border-bottom: 2px solid lightgray;
 border-collapse: collapse;
 box-shadow: 1cm;
}
#exit:hover{
    background-color: rgba(211, 211, 211, 0.589);
}
.profile{
    margin-top:-10px;
    position: relative;
}
#imge{
    width:36px;
    height:40px;
    border-radius:30px;
    margin-right:2px;
    z-index: 5;
}
.username{
    font-size:17px;
    font-weight: 600;
    padding-left:2px;
    margin-top:-10px;
    
}
.emaill{
    font-size:14px;
}
#tweet{
    padding-top:7px;  
     width:100%;
     max-width:100%;
}

#btn{
    float: right;
    margin-right:5px;
    border-radius: 14px;
    padding:4px 16px;
    font-size:16px;
}
#emoji{
    margin-left:25px;
    font-size:20px;
    color:rgb(79, 163, 163);
}
#emoji:hover{
    color:blue;
}

#imge1{
    width:35px;
    height:40px;
    border-radius:30px;
    z-index: 2;
}
#file{
    display:none ;
}
.post{
    
    height:80px;
    width:100%;
    margin-left:5px;
    max-width:100%;
    font-size:16px;
    font-weight: 450;
    background-color: transparent;
    outline: none;
    border:none;
    padding-left:10px;
}
.postText{
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    padding:0px;
    margin-left:42px;
    margin-top:-9px;
    color:gray;
}
.line{
    width:0.5cm;
    
    height:43px;
    z-index:1;
    position: absolute;
    left:15px;
    top:38px;
    border-left:1px solid rgba(128, 128, 128, 0.450);
}

@media screen and (max-width:760px) {
    .container{
        width:100%;
        border:none;
        opacity:1;
    }
    .model{
        max-width: 90%;
        width:100%;
        position: absolute;
        top:150px;
        left:20px;
        padding:22px;
        border-radius:10px;
        border:1px solid lightgray;
        background-color: rgb(255, 255, 255);
    }
   
    .profile{
        margin-top:-10px;
        position: relative;
    }
    #imge{
        width:36px;
        height:40px;
        border-radius:30px;
        margin-right:2px;
        z-index: 5;
    }
    .username{
        font-size:14px;
        font-weight: 600;
        padding-left:2px;
        margin-top:-10px;
        
    }
    .emaill{
        font-size:11px;
    }
    #tweet{
        padding-top:7px;  
         width:100%;
         max-width:100%;
    }
     
    #imge1{
        width:35px;
        height:40px;
        border-radius:30px;
        z-index: 2;
    }
    #file{
        display:none ;
    }
    .post{
        height:60px;
        margin-top:5px;
        margin-left:10px;
        font-size:15px;
    }
    .postText{
        font-size:14px;
       
    }
}

@media screen and (max-width:360px) {
    .container{
        width:100%;
        border:none;
        opacity:1;
        position: relative;
    }
    .model{
        max-width: 98%;
        top:150px;
        left:5px;
        padding:22px 15px;

    }
   
    .profile{
        margin-top:0px;
        position: relative;
    }
    #imge{
        width:36px;
        height:40px;
        border-radius:30px;
        margin-right:2px;
        z-index: 5;
    }
    .username{
        font-size:13px;
        font-weight: 600;
        padding-left:2px;
        margin-top:-10px;
        
    }
    .emaill{
        font-size:10px;
    }
    #tweet{
        padding-top:7px;  
        width:100%;
        max-width:100%;
    }
     
    #imge1{
        width:35px;
        height:40px;
        border-radius:30px;
        z-index: 2;
    }
    #file{
        display:none ;
    }
    .post{
        height:60px;
        margin-top:5px;
        margin-left:10px;
        font-size:13px;
    }
    .postText{
        font-size:14px;
       
    }
}