.container{
    width:100%;
    max-width: 100%;
    border-bottom: 1px solid lightgray;
    padding:4px 0;
}
.profile{
    margin-top:4px;
    display: grid;
    grid-template-columns: auto 1fr;
}
#imge{
    width:36px;
    height:40px;
    border-radius:30px;
    margin-right:2px;
    z-index: 5;
}

.info{
    margin-top: 6px;
    line-height: 0.3;
}
.username{
    font-size:17px;
    font-weight: 600;
    padding-left:2px;
    
}
.emaill{
    font-size:15px;
}
.postText{
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    padding:0px;
    margin-left:10px;
    margin-top:5px;
    color:gray;
}
.postImg{
    width:99.5%;
    height:140px;
    margin-left:0;
    padding-left:0;
    margin-right:0;
    padding-right:0;
}
.row span{
    font-size: 20px;
}

.row{
    padding:0 5px;
    width:100%;
    max-width:100%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: space-between;

   
}
#comments:hover{
    color:red;
}
.heart{
    margin-top:-4px;
    width:25px;
    color:red;
}
.row .likes{
    padding:0;
    margin:0;
    font-size:16px;
    margin-left:2px;
    margin-top:-5px;
}
@media screen and (max-width:760px){
    .username{
        font-size:14px;
        font-weight: 700;
    }
    .info{
        display:block;
        line-height:2px;
        margin-top: 8px;
        margin-left:2px;
        
    }
    .emaill{
        font-size:12px;
    }
    
    #imge{
        width:40px;
        height:40px;
        border-radius:30px;
    }
}
